<tr>
    <td>  <img src="{{ but.0.idJoueur.photo|imagine_filter('images_list') }}"> <a href="{{ path("fproject_joueur_joueur", {id: but.0.idJoueur.id}) }}">{{ but.0.idJoueur.prenom }} {{ but.0.idJoueur.nom }}</a></td>
    <td> {{ but.nbButs }}</td>






</tr>