<tr>
    <td>  <img src="{{ c.idClub.logo|imagine_filter('images_list') }}"> {{ c.idClub }}</td>
    <td> {{ c.points }}</td>
    <td> {{ c.nbMatchJoue }}</td>
    <td> {{ c.nbVictoire }}</td>
    <td> {{ c.nbNul }}</td>
    <td> {{ c.nbDefaite }}</td>
    <td> {{ c.butPour }}</td>
    <td> {{ c.butContre }}</td>
    <td> {{ c.differenceBut }}</td>






</tr>